/* Register.module.css */

/* Estilos para el componente Register */
.container {
  background-color: #ffffff;
}

.form {
  background-color: #f1f1f1;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 40px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  margin-top: 10px;
}

.button {
  width: 100%;
  margin-top: 15px;
}

.text {
  font-size: 14px;
  text-align: center;
}

/* Estilos para los mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

/* Estilo personalizado para el botón de registro */
.register-button {
  margin-top: 15px;
}

/* Estilo personalizado para el botón de inicio de sesión */
.log-account-button {
  margin-left: 10px;
}
